In [3]:
import pandas as pd
from arcgis.gis import GIS
from arcgis.layers import Service
gis = GIS()

In [4]:
src_url = "https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/Coronavirus_2019_nCoV_Cases/FeatureServer/1"
fl = Service(src_url)

In [5]:
fset_usa = fl.query(where="Country_Region='US'")
fset_usa

<FeatureSet> 60 features

In [8]:
us_states_item = gis.content.get('99fd67933e754a1181cc755146be21ca')
us_states_item

In [9]:
us_states_flayer = us_states_item.layers[0]
us_states_df = us_states_flayer.query(as_df=True)
us_states_df.columns

Index(['FID', 'STATE_NAME', 'STATE_FIPS', 'SUB_REGION', 'STATE_ABBR',
       'POPULATION', 'POP_SQMI', 'POP2010', 'POP10_SQMI', 'WHITE', 'BLACK',
       'AMERI_ES', 'ASIAN', 'HAWN_PI', 'HISPANIC', 'OTHER', 'MULT_RACE',
       'MALES', 'FEMALES', 'AGE_UNDER5', 'AGE_5_9', 'AGE_10_14', 'AGE_15_19',
       'AGE_20_24', 'AGE_25_34', 'AGE_35_44', 'AGE_45_54', 'AGE_55_64',
       'AGE_65_74', 'AGE_75_84', 'AGE_85_UP', 'MED_AGE', 'MED_AGE_M',
       'MED_AGE_F', 'HOUSEHOLDS', 'AVE_HH_SZ', 'HSEHLD_1_M', 'HSEHLD_1_F',
       'MARHH_CHD', 'MARHH_NO_C', 'MHH_CHILD', 'FHH_CHILD', 'FAMILIES',
       'AVE_FAM_SZ', 'HSE_UNITS', 'VACANT', 'OWNER_OCC', 'RENTER_OCC',
       'NO_FARMS12', 'AVE_SIZE12', 'CROP_ACR12', 'AVE_SALE12', 'SQMI',
       'Shape__Area', 'Shape__Length', 'GlobalID', 'SHAPE'],
      dtype='object')

In [6]:
df_usa = fset_usa.sdf[['Province_State', 'Confirmed', 'Recovered', 'Deaths']]
df_usa = df_usa.assign(STATE_NAME = df_usa["Province_State"])
df_usa.head()

   Province_State  Confirmed  Recovered  Deaths      STATE_NAME
0     Mississippi     918874          0   12821     Mississippi
1  Grand Princess        103          0       3  Grand Princess
2        Oklahoma    1182071          0   16759        Oklahoma
3        Delaware     304393          0    3080        Delaware
4       Minnesota    1645653          0   13509       Minnesota

In [10]:
cols_4 = ['STATE_NAME','SHAPE']
overlap_rows_usa = pd.merge(left = us_states_df[cols_4], right = df_usa, 
                            how='inner', on = 'STATE_NAME')
overlap_rows_usa.head()

,STATE_NAME,SHAPE,Province_State,Confirmed,Recovered,Deaths
0,Alaska,"{""rings"": [[[-17959594.8053098, 8122953.575198...",Alaska,295596,0,1338
1,California,"{""rings"": [[[-13543710.3257494, 4603367.827345...",California,11166567,0,95311
2,Hawaii,"{""rings"": [[[-17819334.303422, 2512026.7784964...",Hawaii,340729,0,1655
3,Idaho,"{""rings"": [[[-13027307.5891034, 5415905.134774...",Idaho,491564,0,5131
4,Nevada,"{""rings"": [[[-13263990.1054907, 4637763.931898...",Nevada,835618,0,11417